@charset "UTF-8";
.about, .gallery, .point, .price, .review, .contact {
  padding: 90px 15%;
}

@media (max-width: 1280px) {
  .about, .gallery, .point, .price, .review, .contact {
    padding: 120px 10%;
  }
}

@media (max-width: 768px) {
  .about, .gallery, .point, .price, .review, .contact {
    padding: 80px 5%;
  }
}

html,
body {
  color: #111;
  font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

html .fd-in,
body .fd-in {
  opacity: 0;
  transform: translate(0, 60px);
  -webkit-transform: translate(0, 60px);
}

html .fd-done,
body .fd-done {
  opacity: 1.0;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}

/*--------------------------------
ナビゲーション
---------------------------------*/
nav {
  position: relative;
  padding: 1rem 0;
}

nav .navbar {
  display: flex;
  justify-content: space-between;
}

nav .navbar a {
  margin: 0 16px;
}

/*--------------------------------
ヘッダー
---------------------------------*/
header {
  overflow: hidden;
  background-size: cover;
}

header .hero {
  padding: 12rem 0;
  position: relative;
  background-color: #343a40;
  background: url("./images/cover.jpg") no-repeat center center;
  background-size: cover;
}

@media (max-width: 768px) {
  header .hero {
    padding: 6rem 0;
  }
}

header .hero:before {
  content: "";
  position: absolute;
  background-color: #1c375e;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}

header .hero h1 {
  color: #f7f7f7;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 20px;
  filter: drop-shadow(3px 3px 0 red);
  text-align: center;
}

header .hero p {
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
}

@media (max-width: 768px) {
  header .hero p {
    line-height: 1.5;
  }
}

header .hero a {
  display: inline-block;
  padding: 15px 32px;
  margin: 40px 0 0;
  font-size: 18px;
  color: #FF6B95;
  background: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  transition: .5s;
  border: 2px solid #fff;
  position: relative;
  color: #f8f9fa;
  border-color: #f8f9fa;
  left: 50%;
  transform: translateX(-50%);
}

header .hero a:hover {
  background: #FF6B95;
  color: #fff;
  opacity: 0.8;
}

header .hero a:hover::after {
  border-color: #fff;
}

@media (max-width: 768px) {
  header .hero a {
    left: 50%;
    transform: translateX(-50%);
  }
}

/*--------------------------------
セクション
---------------------------------*/
section {
  overflow: hidden;
  transition: .5s;
  background-size: cover;
}

section .section__title {
  font-size: 28px;
  text-align: center;
}

section .section__title--discription {
  font-size: 18px;
  text-align: center;
  margin-bottom: 50px;
}

/*--------------------------------
About
---------------------------------*/
.about {
  background: #f8f9fa;
}

.about__container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.about__text p {
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  margin: 30px 0 0;
}

@media (max-width: 768px) {
  .about__text p {
    margin: 20px 0 0;
  }
}

/*--------------------------------
Gallery
---------------------------------*/
.gallery .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

.gallery__list {
  width: 100%;
  margin: 0 auto;
}

.gallery__item {
  display: flex;
  flex-wrap: wrap;
}

.gallery__item .gallery__img {
  position: relative;
  background: url("./images/1.png") no-repeat center center;
  background-size: cover;
}

.gallery__item:not(:nth-child(-n+2)) {
  margin-top: 20px;
}

.gallery__item:nth-child(2n) {
  margin-left: 20px;
}

.gallery__item img {
  min-height: 30rem;
  background-size: cover;
}

.gallery__item a {
  transition: .5s;
}

.gallery__item a:hover {
  opacity: .7;
}

.gallery__item a:hover img {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

/*--------------------------------
Point
---------------------------------*/
.point {
  background: #f8f9fa;
}

.point__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.point__item {
  text-align: center;
  width: calc((100% / 3) - 14px);
  background: #f2f2f2;
  padding: 12px;
}

.point__item:not(:first-child) {
  margin-left: 21px;
}

@media (max-width: 768px) {
  .point__item {
    width: 100%;
  }
  .point__item:not(:first-child) {
    margin: 30px 0 0;
  }
}

.point__item i {
  font-size: 44px;
  font-weight: 900;
  width: 50px;
  border-bottom: 4px solid #000;
  display: inline-block;
  text-align: center;
  padding: 0 0 8px;
  margin: 0 0 20px;
}

.point__item p {
  text-align: left;
  font-size: 18px;
}

.point__item span {
  font-size: 14px;
}

/*--------------------------------
Price
---------------------------------*/
.price {
  padding-top: 0;
  background: #f8f9fa;
}

.price__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.price__item {
  background: #fff;
  text-align: center;
  box-shadow: 0 px 10px rgba(0, 0, 0, 0.15);
  padding: 50px 30px;
  width: calc(50% - 15px);
}

.price__item:nth-child(2n) {
  margin-left: 30px;
}

@media (max-width: 768px) {
  .price__item {
    width: 100%;
  }
  .price__item:not(:first-child) {
    margin: 30px 0;
  }
}

.price__item h3 {
  font-size: 24px;
  line-height: 1;
  margin-bottom: 20px;
}

.price__item .yen {
  font-size: 64px;
  font-weight: 100;
  line-height: 1;
}

.price__item .yen span {
  font-size: 30px;
}

.price__item .cando {
  margin: 40px auto;
  text-align: center;
}

/*--------------------------------
Review
---------------------------------*/
.review {
  padding-top: 0;
  background: #f8f9fa;
}

.review__list {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .review__list {
    flex-direction: column;
  }
}

.review__info {
  text-align: center;
  box-shadow: 0 px 10px rgba(0, 0, 0, 0.15);
  padding: 50px;
}

.review__info img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.review__info:nth-child(2n) {
  margin-left: 30px;
}

@media (max-width: 768px) {
  .review__info {
    width: 100%;
  }
  .review__info:not(:first-child) {
    margin: 30px 0;
  }
}

.review__info h3 {
  font-size: 24px;
  line-height: 1;
  margin-bottom: 20px;
}

.review__info .yen {
  font-size: 64px;
  font-weight: 100;
  line-height: 1;
}

.review__info .yen span {
  font-size: 30px;
}

.review__info .cando {
  margin: 40px auto;
  text-align: center;
}

/*--------------------------------
Contact
---------------------------------*/
.contact__box {
  display: flex;
  justify-content: space-around;
}

.contact__box__btn {
  text-align: center;
  display: inline-block;
  background: #FF6B95;
  padding: 15px 40px 15px 20px;
  margin: 0px 0 0;
  font-size: 18px;
  font-weight: 900;
  transition: .5s;
  border: 2px solid #fff;
  position: relative;
}

.contact__box__btn::after {
  position: absolute;
  content: "";
  right: 20px;
  width: 8px;
  height: 8px;
  top: calc(50% - 4px);
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
}

.contact__box__btn:hover {
  border-color: #FF6B95;
  background: #fff;
  color: #FF6B95;
}

.contact__box__btn:hover::after {
  border-color: #FF6B95;
}

.contact__box__btn a {
  color: #fff;
  text-decoration: none;
}

.contact__box__btn a:hover {
  color: #FF6B95;
}

@media (max-width: 768px) {
  .contact__box {
    flex-direction: column;
    height: 170px;
  }
}

footer {
  padding: 15px 0;
  background: #444;
  text-align: center;
  color: #fff;
}

footer small {
  font-size: 14px;
  line-height: 1;
}
/*# sourceMappingURL=style.css.map */